<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="users/ubase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
</head>
<body>
	<!-- that sectn will send to base.html -->
	<section class="bannera">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="my-card mt-0">
						<h1 class="text-center">
							THIS IS <span th:text="${user.name}"></span> Profile
						</h1>
						<div class="my-card mt-0">
							<div class="container text-center">
								<img src="" style="height: 300px; width: 300px"
									class="myprofile" th:src="@{'/img/'+${user.image}}" alt="Pic" />
								<h3 class="mt-1" th:text="${user.name}"></h3>
							</div>


							<div class="descr text-center">
								<th:block th:utext="${user.about}"></th:block>
							</div>
							<br>
							<div class="container text-center">
								<strong><a th:href="@{/forgot}">Click to change
										password using otp from registered email</a></strong>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


	</section>

</body>
</html>

