<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Change Password form</title>
</head>
<body>
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-5">
						<h3>Enter new Password</h3>
						<form method="post" action="" th:action="@{/chngpswrd}">
							<div class="form-group">
								<input name="newpassword" required="required" type="password"
									placeholder="Enter new Password here" class="form-control">
							</div>
							<br>
							<div class="container text-center">
								<button class="btn btn-success">Change your password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>